.wp-block-hizzle-forms-forms {
	display: flex;
	flex-wrap: wrap;
	margin: 1rem auto;
	max-width: 600px;
	position: relative;

	&.is-style-hizzle-full {
		max-width: 100%;
	}

	&.is-style-hizzle-wide {
		max-width: 800px;
	}

	&.has-background {
		padding: 1.6rem;
	}

}

.hizzle-forms-field {
	margin-bottom: 1.6rem;
	width: 100%;

	&.is-style-hizzle-half {
		width: 50%;
	}

	&.is-style-hizzle-third {
		width: 33.333%;
	}

	&.is-style-hizzle-two-third {
		width: 66.666%;
	}

	&.is-style-hizzle-fourth {
		width: 25%;
	}

	&.is-style-hizzle-three-fourth {
		width: 75%;
	}
}

.hizzle-forms__field-label {
	display: block;
	margin-bottom: 0.4rem;
	font-weight: 600;
}

.hizzle-forms__field-help-text {
	opacity: 0.8;
	font-size: 0.8rem;
	margin-top: 0.4rem;
	margin-bottom: 0.8rem;
	display: block;
}

.wp-block-hizzle-forms-radio-option {
	font-weight: 400;
	display: block;
	margin-bottom: 1rem;
}
