.help-wp-block-hizzle-forms-forms {
	margin: 1rem auto;

    &.is-style-default {
        max-width: 600px;
    }

    &.is-style-wide {
        max-width: 800px;
    }

    &.is-style-full {
        max-width: 100%;
    }
}
