.wp-block-hizzle-forms-forms {
	display: block !important;

	// Add grid to tablet and above.
    @media (min-width: 600px) {
        > .hizzle-forms > .block-editor-inner-blocks > .block-editor-block-list__layout {
			display: grid;
			align-items: end;
			grid-template-columns: repeat(6, 1fr);
			grid-template-rows: 1fr;
			column-gap: 16px;
			row-gap: 28px;
		}
    }
}
